{% extends "ClinicaCoder/base.html" %}
{% block main %}
</head>
<body>
   <h2> Competar con sus datos para generar el Registro: </h2>
      <form action="" method="get">
        <label for="nombre">Nombre</label>
        <input type="text" name="nombre"> </form>

      <form action="" method="get">
        <label for="segundo_nombre">Segundo Nombre</label>
        <input type="text" name="segundo_nombre"> </form>

      <form action="" method="get">
         <label for="apellido">Apellido</label>
         <input type="text" name="apellido"> </form>

      <form action="" method="get">
         <label for="mail">E-mail</label>
         <input type="text" name="mail"> </form>

      <form action="" method="get">
            <label for="celular">celular</label>
            <input type="text" name="celular"> </form>

      <form action="" method="get">
            <label for="obrasocial">ObraSocial</label>
            <input type="text" name="obrasocial"> </form>

        <button type="submit">Enviar</button>
     

</body>
</html>
{% endblock %}